<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for Anime</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header class="header">
        <a href="/home" class="header-title">WeWatch</a>
        <a href="/home">Return to My Watchlist</a>
    </header>
    <section class="form-container">
        <form action="" method='GET' id="search">
            <input type="text" placeholder="Search for a Show..." name='showQuery' class="input" id="showName">
            <select name="showType" id="showType" class="input" required>
                <option value="">Show Genre?</option>
                <option value="/anime/search/">Anime</option>
                <option value="/tv/search/">TV</option>
            </select>
            <input type="submit" class="submit" id="home-submit">
        </form>
    </section>

    <ul class="searchlist">
        <% searchResults.forEach(el => { %>
            <li class="show" data-id="<%= el.mal_id %>">
                <img src="<%= el.images.jpg.image_url %>" alt="" class="show-image">
                <div class="show-info">
                    <h3 class="show-title"><%= el.title %></h3>
                    <p>
                        <span class="show-type"><%= el.type %> </span> | 
                        <span class="show-episodes"> Episodes: <span class="show-episodes-number"><%= el.episodes %></span> </span> | 
                        <span class="show-status"><%= el.status %> </span>
                    </p>
                    <p>Rating: <%= el.score %> / 10</p>
                </div>
                <button class="add-show">Add to Watchlist</button>
            </li>
        <%})%>
    </ul>
    <script src="/index.js"></script>
    <script src="/shows.js"></script>
</body>
</html>