<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeWatch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
        <a href="/" class="header-title">WeWatch</a>
    </header>
    <main>
        <section class="form-container">
            <form action="" method='GET' id="search">
                <input type="text" placeholder="Search for a Show..." name='showQuery' class="input" id="showName">
                <select name="showType" id="showType" class="input" required>
                    <option value="">Show Genre?</option>
                    <option value="/anime/search/">Anime</option>
                    <option value="/tv/search/">TV</option>
                </select>
                <input type="submit" class="submit" id="home-submit">
            </form>
        </section>
        <section class="watchlist-container">
            <div class="watchlist-title">
                <h2>My Watchlist</h2>
            </div>
            
            <ul class="watchlist">
                <% shows.forEach(el => { %>
                    <li class="home-show" data-id="<%= el.id %>">
                        <div class="home-show-image-container">
                            <img src="<%= el.imageURL %>" alt="" class="home-show-image">
                        </div>
                        <div class="home-show-info">
                            <h3 class="show-title"><%= el.name %></h3>
                            <p class="show-status"><%= el.status %> </p>
                            <p class="show-episodes"> Progress: <span class="show-episodes-watched"><%= el.episodes.watched %></span> / <span class="show-episodes-total"><%= el.episodes.total %></span> </p> 
                        </div>
                        <div class="show-actions">
                            <button class="home-delete"><i class="fa-solid fa-trash"></i></button>
                            <button class="home-add"><i class="fa-solid fa-plus"></i></button>
                            <button class="home-minus"><i class="fa-solid fa-minus"></i></button>
                        </div>
                        <!-- <button class="home-delete"><i class="fa-solid fa-trash"></i></button> -->
                    </li>
                <%})%>
            </ul>
<!-- get structure of ul watchlist when searching, and use it for home watchlist -->
        </section>
        
    </main>
    <script src="/index.js"></script>
</body>
</html>